<div class="container">

  <h2>
    <button type="button" class="glyphicon-button pull-left" ng-click="toggle()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    Notes
  </h2>

  <form role="form" class="container" style="width:80%" ng-hide="visibleAddForm" ng-submit="addNote()">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <input type="text" ng-model="note.title" placeholder="Put here your title" class="form-control">
      </div>
      <div class="panel-body">
          <textarea ng-model="note.body" placeholder="Put here your note" class="form-control" rows="5" cols="20"></textarea>
      </div>
      <div class="panel-footer">
          <input type="submit" class="btn btn-primary" value="Save">
          <input type="button" class="btn btn-default" value="Clear" ng-click="clear()">
      </div>
    </div>
  </form>
<marked>#AS</marked>
  <div ui-sortable ng-model="notes">
    <div class="container" style="width:80%" ng-repeat="note in notes" style="padding:5px 10px;cursor:move;">
      <div class="panel panel-primary">
        <div class="panel-heading" ng-hide="isIndex($index)">
          <span ng-model="note.title">{{note.title}}</span>
          <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-primary" ng-click="enableEditor($index)"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-danger" ng-click="removeNote($index)" aria-label="Remove">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
          </div>
        </div>
        <div class="panel-heading" ng-show="isIndex($index)">
          <input type="text" ng-model="note.title" class="form-control">
        </div>
        <div class="panel-body" ng-hide="isIndex($index)">
          <span ng-model="note.body">{{note.body}}</span>
        </div>
        <div class="panel-body" ng-show="isIndex($index)">
          <textarea ng-model="note.body" class="form-control" rows="5" cols="20"></textarea>
        </div>
        <div class="panel-footer" ng-show="isIndex($index)">
          <input type="button" class="btn btn-primary" value="Edit" ng-click="edit()">
          <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()">
        </div>
      </div>
    </div>
  </div>

</div>
